<!DOCTYPE html>
<html>

<head>
  <title>Dashboard | View collected data</title>
  <link rel='stylesheet' href='/css/style.css' />
  <!-- Bootstrap Styles -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>

<body class="py-0">

  <div class="row py-4">
    <h1>Dashboard</h1>
    <form id="form" class="row ml-auto">
      <input type="date" value="<%= date %>" onchange="selectDate(event)" required />
      <button>Date</button>
  </div>
  </div>

  <div class="row">
    <div class="card w-50 p-4 rounded shadow-sm">
      <div id="temp" class="w-100" style="height: 250px;"></div>
    </div>

    <div class="card w-50 p-4 rounded shadow-sm bg-light">
      <div id="humidity" class="w-100" style="height: 250px;"></div>
    </div>

    <div class="card w-50 p-4 rounded shadow-sm bg-light">
      <div id="pressure" class="w-100" style="height: 250px;"></div>
    </div>

    <div class="card w-50 p-4 rounded shadow-sm">
      <div id="light" class="w-100" style="height: 250px;"></div>
    </div>
  </div>

  <!-- Chart Library -->
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
  <script>
    var form = document.getElementById("form");
    function selectDate(e) {
      form.setAttribute("action", e.target.value);
    }
  </script>
  <script>
    var data = '<%- JSON.stringify(data) %>';
    data = JSON.parse(data);
    console.log(data);

    function drawChart(divId, name, y1, y2) {
      const chart = new CanvasJS.Chart(divId, {
        title: {
          text: name,
        },
        zoomEnabled: true,
        backgroundColor: 'transparent',
        axisX: {
          title: "Time",
          valueFormatString: "MMM DD hh:mm",
        },
        axisY: {
          title: name,
        },
        data: [
          {
            name: "Value",
            showInLegend: true,
            type: "line",
            xValueType: "dateTime",
            connectNullData: true,
            dataPoints: y1,
          },
          {
            name: "Standard Deviation",
            showInLegend: true,
            type: "line",
            xValueType: "dateTime",
            connectNullData: true,
            dataPoints: y2,
          }
        ],
      });

      chart.render();
    }

    drawChart('temp', 'Tempurature (C)', data.m_tmp, data.sd_tmp);
    drawChart('humidity', 'Humidity (%)', data.m_hmd, data.sd_hmd);
    drawChart('pressure', 'Pressure (Pa)', data.m_prs, data.sd_prs);
    drawChart('light', 'Light Intensity (Lux)', data.m_lit, data.sd_lit);

  </script>
</body>

</html>